/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    background-color: #540B51;
    margin: auto;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    width: fit-content;
}

button {
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-right: 35px;
    margin-left: 35px;
}


#slack-logo {
    height: 28px;
}


.top-button {
    flex-direction: row;
    border: none;
    height: 28px;
    justify-content: space-between;
    background-color: transparent;
}

header {
    color: white;
    font-size: 18px;
}

header strong {
    color: #ECB12F;
}

#sign-button {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#email-button {
    display: block;
    color: #540B51;
    margin-bottom: 15px;
    font-size: 18px;
    height: 60px;
    border: none;
    font-weight: 700;
    background-color: white;
}

#google-button {
    background-color: #4285F4;
    color: white;
    height: 60px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    border: none;
    justify-content: center;
}

#google-logo {
    position: absolute;
    left: 20px;
    width: 25px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

#google-button span {
    display: inline-flex; 
    justify-content: center;
}

#main-section-1 {
    background-color: #F3EAE2;
    padding-top: 50px;
}

#main-section-1 p {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
}

#main-section-1 div {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

#main-section-1 img {
    padding: 10px;
    height: 35px;
}

#main-section-2 {
    background-color: #F3EAE2;
}

h2 {
    font-size: 30px;
    color: #191817;
}

#main-section-2 p, #main-section-3 p, #main-section-4 p {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 550;
    color: #000000;
}

#main-section-2 a, #main-section-3 a, #main-section-4 a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#main-section-2 span, #main-section-3 span, #main-section-4 span {
    color: #2E71A6;
    font-weight: 550;
}

#icon-arrow-right {
    padding-left: 5px;
    padding-bottom: 3px;
    width: 15px;
    height: 10px;
}

#main-section-3 {
    background-color: #F3EAE2;
    padding-top: 10px;
    padding-bottom: 50px;
    display: inline-block;    
}


#main-section-4 {
    background-color: #F3EAE2;
    padding-top: 10px;
    padding-bottom: 50px;    
    
}

#main-section-5 {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#main-section-5 h3 {
    color: #191817;
    font-size: 30px;
    font-weight: 700px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

#main-section-5 #first-p {
    color: #000000;
    text-align: center;
    font-size: 19px;
    padding-left: 15px;
    padding-right: 15px;
}

main button {
    height: 60px;
    margin: auto;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 17px;
}

.main-button-type-1 {
    background-color: #540B51;
    color: white;
    border: none;
}

.main-button-type-2 {
    color: #540B51;
    border: 2px solid #540B51;
    background-color: transparent;
}

#main-section-5 ul {
    list-style: none;
    padding-left: 0;
}

#main-section-5 span {
    display: block;
    text-align: center;
    color: #540B51;
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
}

#main-section-5 li > p {
    color: #000000;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    font-weight: 700;
}

#section-5-footnote {
    font-size: 14px;
    color: grey;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#main-section-6 {
    color: white;
    margin: auto;
    background-color: white;

    
}

#main-section-6 div:first-child {
    height: 400px;
    padding-top: 40px;
    background-color: #540B51;
    clip-path: ellipse(115% 90% at 50% 0%);
}

#main-section-6 div:nth-child(2) {
    height: 80px;
}

#main-section-6 h3 {
    color: white;
    font-size: 30px;
    font-weight: 700px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}


#main-section-6 .main-button-type-1 {
    border: 2px solid white;
}


#main-section-6 .main-button-type-2 {
    background-color: white;
}

footer {
    background-color: white;
    
}

#slack-logo-footer {
    width: 60px;
    padding-left: 20px;
    padding-bottom: 30px;
}

#footer-column-1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 10px;
}

footer ul {
    list-style: none;
    padding-left: 15px;

}

#footer-column-1 li {
    padding-bottom: 20px;
    font-size: 14px;
    color: grey;
    padding-left: 5px;
    padding-right: 5px;
}

#footer-column-1 .column-title {
    font-weight: 700;
    font-size: 15px;
    color: #191817;
}

footer hr {
    width: 90vw;
    border: 1px solid rgb(216, 215, 215);
    margin-bottom: 50px;
}

#footer-column-2 li {
    color: #191817;
    font-weight: 700;
    font-size: 14.5px;
    padding-bottom: 20px;
    padding-left: 10px;
}

#footer-column-2 img {
    width: 1em;
    padding-right: 7px;
}

#footer-column-2 li:last-child {
    color: #2E71A6;
}

#footer-sns {
    display: inline-flex;
    width: calc(100vw - 40px);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

#footer-sns i {
    font-size: 25px;
}

#footer-copyright {
    font-size: 15px;
    color: #454245;
    padding-left: 20px;
    padding-bottom: 50px;
}


/* Mobile Screens */
@media (max-width: 767px) {

    nav {
        padding-top: 2.5em;        
    }

    #nav-menu {
    display: none;
    }

    #header-title {
        display: flex;
        font-size: 45px;
        text-align: center;
        font-weight: 500;    
        padding: 0 10px;
    }
    
    header p {
        text-align: center;
    }
    
    #section-image-hero {
        width: 100vw;
        overflow: hidden;
    }
    
    #hero-product-ui {
        height: 450px;
        margin-top: 20px;
        margin-left: -35px;
        margin-bottom: -90px;
    }

    #image-section-2-mobile, #image-section-4-mobile {
        width: 96vw;
    }
    
    #image-section-3-mobile {
        width: 96vw;
        padding-left: 4vw;
        padding-right: 0px;
        justify-content: flex-end;
        padding-top: 50px;
    }

    #image-section-2-screen, #image-section-3-screen, #image-section-4-screen {
        display: none;
    }
    
    .main-section-article {
        padding-left: 15px;
    }

    #main-section-2 p, #main-section-3 p, #main-section-4 p {
        padding-right: 30px;
    }

    main button {
        display: block;
        width: 90vw;
    }


}

/* Small Screens */
@media (min-width: 768px) and (max-width: 1023px) {

    nav {
        padding-top: 2.5em;
    }

    #nav-menu {
    display: none;
    }

    header {
        background-image: url("/starter_code/images/background-singup.png");
        background-size: 180%;
        background-repeat: no-repeat;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        margin-bottom: 50px;
    }

    #header-title {
        font-size: 78px;
        padding-left: 30px;
        margin-right: 20px;
        width: calc(60vw - 60px);
    }

    header p {
        font-size: 22px;
        padding: 0px 30px;
        width: 350px;
    }

    #section-image-hero {
        width: 36vw;
        overflow: hidden;
        position: absolute;
        right: 0;
    }

    #hero-product-ui {
        height: 350px;
    }

    #sign-button {
        padding: 0px 20px 100px 30px;
    }

    #google-logo {
        left: 40px;
    }

    #image-section-2-mobile, #image-section-3-mobile, #image-section-4-mobile {
        display: none;
    }

    #image-section-2-screen, #image-section-4-screen {
        width: 90vw;
    }

    #image-section-3-screen {
        width: 90vw;
        padding-left: 10vw;
        padding-right: 0px;
        justify-content: flex-end;
        padding-top: 50px;
    }

    .main-section-article {
        padding-left: 130px;
    }

    h2 {
        padding-right: 100px;
    }

    #main-section-2 p, #main-section-3 p, #main-section-4 p {
        padding-right: 130px;
    }

    #main-button-first {
        display: inline-block;
        justify-content: center;
        
    }


}

/* Medium Screens */
@media (min-width: 1024px) and (max-width: 1439px) {

    header {
        background-image: url("/starter_code/images/background-singup.png");
        background-size: 180%;
        background-repeat: no-repeat;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }


    #image-section-2-mobile, #image-section-3-mobile, #image-section-4-mobile {
        display: none;
        }


}

/* Large Screens */
@media (min-width: 1440px) {

    #image-section-2-mobile, #image-section-3-mobile, #image-section-4-mobile {
        display: none;
        }


}

